/*FONT*/

@font-face{
    font-family: myFont;
    src: url("../fonts/Helvetica\ Neue\ Condensed\ Bold.ttf")
}

/*MAIN CONTAINER FOR THE WHOLE WEBPAGE*/

body{
    margin: 0;
}

main{
    background-color: white;
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

/*MAIN CONTAINER FOR GRID-ELEMENTS*/

.grid__container{
    /*border: 2px solid black;*/
    width: 100%;
    height: 70%;
    margin: 0;
    display: grid;
    grid-template-areas: 
        "first first third third fourth fourth"
        "first first third third fourth fourth"
        "first first third third fifth fifth"
        "second second third third fifth fifth"
        "second second third third sixth sixth"
        "second second third third sixth sixth"
        "seventh seventh eighth tenth tenth eleventh"
        "seventh seventh eighth tenth tenth eleventh"
        "seventh seventh ninth tenth tenth eleventh"
        "seventh seventh ninth tenth tenth eleventh"; 

    grid-gap: 24px;
    padding: 24px;
}

/*GRID CHILDREN*/

.first{
    background-color: #007F5F;
    grid-area: first;
}

.second{
    background-color: #2B9348; 
    grid-area: second;
}

.third{
    background-color: #80B918;
    grid-area: third;

}

.fourth{
    background-color: #DDDF00;
    grid-area: fourth;

}

.fifth{
    background-color: #EEEF20;
    grid-area: fifth;

}

.sixth{
    background-color: #FFFF3F;
    grid-area: sixth;

}

.seventh{
    background-color: #55A630;
    grid-area: seventh;
}

.eighth{
    background-color: #AACC00;  
    grid-area: eighth;
}

.ninth{
    background-color: #BFD200;  
    grid-area: ninth;
}

.tenth{
    background-color: #D4D700; 
    grid-area: tenth;
}

.eleventh{
    background-color: #007F5F;  
    grid-area: eleventh;   
}


/*FOOTER*/

.twelfth{
    width: inherit;
    padding-left: 24px;
    padding-right: 24px;
    grid-area: twelfth;
    background-color: #9BC1BC;
    /*border: 2px pink solid;*/
    height: 20%;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: myFont;
    font-size: 45px;
    color: black;
}

